<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>

    <!-- Add the Tailwind CSS CDN link -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

    <!-- You can also include your custom CSS here, if needed -->
    <!-- <link href="custom.css" rel="stylesheet"> -->
</head>
<body>
   {% block body %}{% endblock body %}
</body>
</html>
